NODE_ENV=production
DATABASE_URL=mysql://<user>:<pass>@<host>:<port>/<database>?ssl=<boolean>

DB_SSL=true

JWT_ISSUER=https://domain.com
JWT_AUDIENCE=api.domain.com
JWT_SECRET=G24cAQAfB**********************QQgZBMrWfC3 # random string
REFRESH_PEPPER=dgny8dx******************nbwTuK4/ # random string
INVITE_TOKEN_PEPPER=Xfr*************************gtXVz3/ # random string
REFRESH_TOKEN_VALID_DAYS=90

GOOGLE_MAPS_API_KEY=A****************************Y # for searching locations

AWS_SES_REGION=eu-central-1
SES_ACCESS_KEY_ID=A**********3 # aws users access key for sending emails
SES_SECRET_ACCESS_KEY=itKX***********************1Dq  # aws users secret key for sending emails

SES_FROM_EMAIL=no-reply-dev@domain.com # what domain the emails are sent from
FRONTEND_URL=http://localhost:3000 # root url of frontend
BACKEND_URL=http://localhost:8333 # root url of backend
EMAIL_LOGO_URL=https://tiimio-assets.s3.eu-west-1.amazonaws.com/valkku_logo.svg # sent along the email

OPENAI_API_KEY=sk-*************6Oo_LcA # for llm